.am-product-box {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__body {
    display: flex;
    justify-content: center;

    &__card {
      margin: 5px 10px;

      &__description {
        &__price-title {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}