.am-button {
  border-radius: 8px;
  font-weight: 500;
  font-family: $primaryFont;

  &--primary {
    background-color: $ocpPrimaryBlue;
    color: $white;

    &:hover {
      background-color: $ocpPrimaryBlueHover;
    }

    &:active {
      background-color: $ocpPrimaryBlueActive;
    }
  }

  &--purple {
    background-color: $ocpPrimaryPurple;
    color: $white;

    &:hover {
      background-color: $ocpPrimaryPurpleHover;
    }

    &:active {
      background-color: $ocpPrimaryPurpleActive;
    }
  }

  &--dashed {
    background-color: transparent;
    color: $maxPrimaryDarkBlue60;
    border: 1px dashed $maxPrimaryDarkBlue60;

    &:hover {
      background-color: transparent;
      color: $maxPrimaryDarkBlue120;
      border: 1px dashed $maxPrimaryDarkBlue120;
    }

    &:active {
      background-color: transparent;
      color: $maxTertiaryBlue120;
      border: 1px dashed $maxTertiaryBlue120;
    }
  }

  &--error {
    background-color: $maxError100;
    color: $white;

    &:hover {
      background-color: $maxError120;
    }

    &:active {
      background-color: $maxError80;
    }
  }

  &--outlined {
    background-color: transparent;
    border: 1px solid $maxPrimaryDarkBlue120;
    color: $maxPrimaryDarkBlue120;

    &:hover {
      background-color: transparent;
      border: 1px solid $maxTertiaryBlue100;
      color: $maxTertiaryBlue100;
    }

    &:active {
      background-color: transparent;
      border: 1px solid $maxTertiaryBlue80;
      color: $maxTertiaryBlue80;
    }
  }

  &--green {
    background-color: $maxSuccess100;
    color: $white;

    &:hover {
      background-color: $maxSuccess120;
    }

    &:active {
      background-color: $maxSuccess80;
    }
  }

  &--yellow {
    background-color: #fdcd3b;
    color: $maxPrimaryDarkBlue120;

    &:hover {
      background-color: #ffa300;
      color: $white;
    }

    &:active {
      background-color: #ff3d00;
      color: $white;
    }
  }

  &--pure-yellow {
    background-color: #f8c104;
    color: $white;

    &:hover {
      background-color: #f7d038;
      color: $maxPrimaryDarkBlue120;
    }

    &:active {
      background-color: #daa520;
      color: $maxPrimaryDarkBlue120;
    }
  }

  &--outlined-yellow {
    background-color: transparent;
    color: $maxPrimaryDarkBlue120;
    border: 1px solid $maxPrimaryDarkBlue120;

    &:hover {
      background-color: transparent;
      color: #fdcd3b;
      border-color: #fdcd3b;
    }

    &:active {
      background-color: transparent;
      color: #ff3d00;
      border-color: #ff3d00;
    }
  }

  &--maxPrimary {
    background-color: $maxPrimaryPurple100;
    color: $white;

    &:hover {
      background-color: $maxPrimaryPurple120;
    }

    &:active {
      background-color: $maxPrimaryPurple80;
    }

    &:disabled {
      background-color: $maxSystemGray60;
      color: $white;
      cursor: not-allowed;
    }
  }

  &--maxOutlined {
    background-color: transparent;
    border: 1px solid $maxPrimaryPurple100;
    color: $maxPrimaryPurple100;

    &:hover {
      background-color: transparent;
      border: 1px solid $maxPrimaryPurple120;
      color: $maxPrimaryPurple120;
    }

    &:active {
      background-color: transparent;
      border: 1px solid $maxPrimaryPurple80;
      color: $maxPrimaryPurple80;
    }

    &:disabled {
      background-color: transparent;
      border: 1px solid $maxSystemGray60;
      color: $maxSystemGray60;
      cursor: not-allowed;
    }
  }

  &--maxGhost {
    background-color: transparent;
    color: $maxPrimaryPurple100;

    &:hover {
      background-color: $maxPrimaryPurple20;
      color: $maxPrimaryPurple120;
    }

    &:active {
      background-color: $maxPrimaryPurple20;
      color: $maxPrimaryPurple80;
    }

    &:disabled {
      background-color: transparent;
      color: $maxSystemGray60;
      cursor: not-allowed;
    }
  }

  &--maxDarkGhost {
    background-color: transparent;
    color: $maxPrimaryDarkBlue100;

    &:hover {
      background-color: $fwbGrayPrimary20;
      color: $maxPrimaryDarkBlue120;
    }

    &:active {
      background-color: $fwbGrayPrimary30;
      color: $maxPrimaryDarkBlue120;
    }

    &:disabled {
      background-color: transparent;
      color: $maxSystemGray60;
      cursor: not-allowed;
    }
  }

  &--maxSecondary {
    background-color: $maxSystemBlue100;
    color: $white;

    &:hover {
      background-color: $maxSystemBlue120;
    }

    &:active {
      background-color: $maxSystemBlue80;
    }

    &:disabled {
      background-color: $maxSystemGray60;
      color: $white;
      cursor: not-allowed;
    }
  }

  &--maxSuccess {
    background-color: $maxSuccess100;
    color: $white;

    &:hover {
      background-color: $maxSuccess120;
    }

    &:active {
      background-color: $maxSuccess80;
    }

    &:disabled {
      background-color: $maxSystemGray60;
      color: $white;
      cursor: not-allowed;
    }
  }

  &--maxError {
    background-color: $maxError100;
    color: $white;

    &:hover {
      background-color: $maxError120;
    }

    &:active {
      background-color: $maxError80;
    }

    &:disabled {
      background-color: $maxSystemGray60;
      color: $white;
      cursor: not-allowed;
    }
  }
}
