@import "../../../styles/_variables.scss";

.am-button {
  &--maxPrimary {
    background-color: $maxPrimaryPurple100;
    color: $white;
    padding: 8px 12px 8px 12px;
    width: 121px;
    height: 34px;
    border-radius: 8px;
    font-weight: 500;

    &:hover {
      background-color: $maxPrimaryPurple120;
    }

    &:active {
      background-color: $maxPrimaryPurple80;
    }

    &:disabled {
      background-color: $maxSystemGray60;
      color: $white;
      cursor: not-allowed;
    }
  }

  &--maxOutlined {
    background-color: transparent;
    border: 1px solid $maxPrimaryPurple100;
    color: $maxPrimaryPurple100;
    padding: 8px 12px 8px 12px;
    width: 121px;
    height: 34px;
    border-radius: 8px;
    font-weight: 500;

    &:hover {
      background-color: transparent;
      border: 1px solid $maxPrimaryPurple120;
      color: $maxPrimaryPurple120;
    }

    &:active {
      background-color: transparent;
      border: 1px solid $maxPrimaryPurple80;
      color: $maxPrimaryPurple80;
    }

    &:disabled {
      background-color: transparent;
      border: 1px solid $maxSystemGray60;
      color: $maxSystemGray60;
      cursor: not-allowed;
    }
  }

  &--maxGhost {
    background-color: transparent;
    color: $maxPrimaryPurple100;
    padding: 8px 12px 8px 12px;
    width: 121px;
    height: 34px;
    border-radius: 8px;
    font-weight: 500;

    &:hover {
      background-color: $maxPrimaryPurple20;
      color: $maxPrimaryPurple120;
    }

    &:active {
      background-color: $maxPrimaryPurple20;
      color: $maxPrimaryPurple80;
    }

    &:disabled {
      background-color: transparent;
      color: $maxSystemGray60;
      cursor: not-allowed;
    }
  }

  &--maxSecondary {
    background-color: $maxSystemBlue100;
    color: $white;
    padding: 8px 12px 8px 12px;
    width: 121px;
    height: 34px;
    border-radius: 8px;
    font-weight: 500;

    &:hover {
      background-color: $maxSystemBlue120;
    }

    &:active {
      background-color: $maxSystemBlue80;
    }

    &:disabled {
      background-color: $maxSystemGray60;
      color: $white;
      cursor: not-allowed;
    }
  }
}
