.am-button {
  line-height: 1;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.am-button--icon {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.am-button--icon-only {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.withLeftIcon {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  align-items: center;
  justify-content: center;
}

.withRightIcon {
  display: flex;
  flex-direction: row-reverse;
  grid-gap: 8px;
  align-items: center;
  justify-content: center;
}

.am-button--outlined {
  background-color: transparent;
  color: #222;
  border: 1px solid #d9d9d9;
}

.am-button--outlined:hover {
  background-color: transparent;
  color: #3875f6;
  border-color: #3875f6;
}

.am-button--outlined:active {
  background-color: transparent;
  color: #2657d1;
  border-color: #2657d1;
}

.am-button--green {
  color: white;
  background-color: #00b0a6;
}

.am-button--green:hover {
  background-color: #37c9c0;
}

.am-button--green:active {
  background-color: #00968d;
}

.am-button--yellow {
  background-color: #fdcd3b;
  color: #000000;
}

.am-button--yellow:hover {
  background-color: #ffa300;
  color: #ffffff;
}

.am-button--yellow:active {
  background-color: #ff3d00;
  color: #ffffff;
}

.am-button--pure-yellow {
  background-color: #f8c104;
  color: #000000;
}

.am-button--pure-yellow:hover {
  background-color: #f7d038;
  color: #000000;
}

.am-button--pure-yellow:active {
  background-color: #daa520;
  color: #000000;
}

.am-button--outlined-yellow {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
}

.am-button--outlined-yellow:hover {
  background-color: transparent;
  color: #fdcd3b;
  border-color: #fdcd3b;
}

.am-button--outlined-yellow:active {
  background-color: transparent;
  color: #ff3d00;
  border-color: #ff3d00;
}
