$blue: #3056d3;
$red: #dc3545;
$gray: #637381;
$purple: #6f42c1;

$fwbBluePrimary90: #233876;
$fwbBluePrimary80: #1E429F;
$fwbBluePrimary70: #1A56DB;
$fwbBluePrimary60: #1C64F2;
$fwbBluePrimary50: #3F83F8;
$fwbBluePrimary40: #76A9FA;
$fwbBluePrimary30: #A4CAFE;
$fwbBluePrimary20: #C3DDFD;
$fwbBluePrimary10: #E1EFFE;
$fwbBluePrimary5: #EBF5FF;

$fwbGrayPrimary90: #111928;
$fwbGrayPrimary80: #1F2A37;
$fwbGrayPrimary70: #374151;
$fwbGrayPrimary60: #4B5563;
$fwbGrayPrimary50: #6B7280;
$fwbGrayPrimary40: #9CA3AF;
$fwbGrayPrimary30: #D1D5DB;
$fwbGrayPrimary20: #E5E7EB;
$fwbGrayPrimary10: #F3F4F6;
$fwbGrayPrimary5: #F9FAFB;

$fwbRedPrimary90: #771D1D;
$fwbRedPrimary80: #9B1C1C;
$fwbRedPrimary70: #C81E1E;
$fwbRedPrimary60: #E02424;
$fwbRedPrimary50: #F05252;
$fwbRedPrimary40: #F98080;
$fwbRedPrimary30: #F8B4B4;
$fwbRedPrimary20: #FBD5D5;
$fwbRedPrimary10: #FDE8E8;
$fwbRedPrimary5: #FDF2F2;

$fwbOrangePrimary90: #771D1D;
$fwbOrangePrimary80: #8A2C0D;
$fwbOrangePrimary70: #B43403;
$fwbOrangePrimary60: #D03801;
$fwbOrangePrimary50: #FF5A1F;
$fwbOrangePrimary40: #FF8A4C;
$fwbOrangePrimary30: #FDBA8C;
$fwbOrangePrimary20: #FCD9BD;
$fwbOrangePrimary10: #FEECDC;
$fwbOrangePrimary5: #FFF8F1;

$fwbYellowPrimary90: #633112;
$fwbYellowPrimary80: #723B13;
$fwbYellowPrimary70: #8E4B10;
$fwbYellowPrimary60: #9F580A;
$fwbYellowPrimary50: #C27803;
$fwbYellowPrimary40: #E3A008;
$fwbYellowPrimary30: #FACA15;
$fwbYellowPrimary20: #FCE96A;
$fwbYellowPrimary10: #FDF6B2;
$fwbYellowPrimary5: #FDFDEA;

$fwbGreenPrimary90: #014737;
$fwbGreenPrimary80: #03543F;
$fwbGreenPrimary70: #046C4E;
$fwbGreenPrimary60: #057A55;
$fwbGreenPrimary50: #0E9F6E;
$fwbGreenPrimary40: #31C48D;
$fwbGreenPrimary30: #84E1BC;
$fwbGreenPrimary20: #BCF0DA;
$fwbGreenPrimary10: #DEF7EC;
$fwbGreenPrimary5: #F3FAF7;

$fwbTealPrimary90: #014451;
$fwbTealPrimary80: #05505C;
$fwbTealPrimary70: #036672;
$fwbTealPrimary60: #047481;
$fwbTealPrimary50: #0694A2;
$fwbTealPrimary40: #16BDCA;
$fwbTealPrimary30: #7EDCE2;
$fwbTealPrimary20: #AFECEF;
$fwbTealPrimary10: #D5F5F6;
$fwbTealPrimary5: #EDFAFA;

$fwbIndigoPrimary90: #362F78;
$fwbIndigoPrimary80: #42389D;
$fwbIndigoPrimary70: #5145CD;
$fwbIndigoPrimary60: #5850EC;
$fwbIndigoPrimary50: #6875F5;
$fwbIndigoPrimary40: #8DA2FB;
$fwbIndigoPrimary30: #B4C6FC;
$fwbIndigoPrimary20: #CDDBFE;
$fwbIndigoPrimary10: #E5EDFF;
$fwbIndigoPrimary5: #F0F5FF;

$fwbPurplePrimary90: #4A1D96;
$fwbPurplePrimary80: #5521B5;
$fwbPurplePrimary70: #6C2BD9;
$fwbPurplePrimary60: #7E3AF2;
$fwbPurplePrimary50: #9061F9;
$fwbPurplePrimary40: #AC94FA;
$fwbPurplePrimary30: #CABFFD;
$fwbPurplePrimary20: #DCD7FE;
$fwbPurplePrimary10: #EDEBFE;
$fwbPurplePrimary5: #F6F5FF;

$fwbPinkPrimary90: #751A3D;
$fwbPinkPrimary80: #99154B;
$fwbPinkPrimary70: #BF125D;
$fwbPinkPrimary60: #D61F69;
$fwbPinkPrimary50: #E74694;
$fwbPinkPrimary40: #F17EB8;
$fwbPinkPrimary30: #F8B4D9;
$fwbPinkPrimary20: #FAD1E8;
$fwbPinkPrimary10: #FCE8F3;
$fwbPinkPrimary5: #FDF2F8;

$maxPrimaryPurple100: #9B6AFA;
$maxPrimaryPurple120: #7B54C7;
$maxPrimaryPurple80: #AF88FB;
$maxPrimaryPurple60: #C3A6FC;
$maxPrimaryPurple40: #D7C3FD;
$maxPrimaryPurple20: #EBE1FE;

$maxSecondaryBlue100: #28D9EC;
$maxSecondaryBlue120: #24ADBC;
$maxSecondaryBlue80: #53E1F0;
$maxSecondaryBlue60: #7EE8F4;
$maxSecondaryBlue40: #A9F0F7;
$maxSecondaryBlue20: #D4F7FB;

$maxTertiaryBlue100: #3D6AFF;
$maxTertiaryBlue120: #2D53D2;
$maxTertiaryBlue80: #6488FF;
$maxTertiaryBlue60: #8BA6FF;
$maxTertiaryBlue40: #B1C3FF;
$maxTertiaryBlue20: #D8E1FF;

$maxPrimaryDarkBlue100: #202A44;
$maxPrimaryDarkBlue120: #101521;
$maxPrimaryDarkBlue80: #4D5569;
$maxPrimaryDarkBlue60: #797F8F;
$maxPrimaryDarkBlue40: #A6AAB4;
$maxPrimaryDarkBlue20: #D2D4DA;
