@import "../../../styles/_variables.scss";

.am-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: flex-start;

  &__label {
    font-weight: bold;
    margin-bottom: 0.2rem;
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      color: $maxPrimaryPurple100;
    }

    &:focus {
      color: $maxPrimaryPurple120;
    }
  }

  &__container--xs {
    width: $inputExtraSmall;
  }

  &__container--sm {
    width: $inputSmall;
  }

  &__container--md {
    width: $inputMedium;
  }

  &__container--lg {
    width: $inputLarge;
  }

  &__container--xl {
    width: $inputXLarge;
  }

  &__container--xxl {
    width: $inputXXLarge;
  }

  &__container--fullWidth {
    width: 100%;
  }

  &__field {
    border: 1.5px solid $maxSystemGray20;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.4rem 0 0.5rem 0.5rem;
    width: 100%;

    &:focus {
      border: 1.5px solid $maxPrimaryPurple120;
      outline: none;
    }

    &:hover {
      border: 1.5px solid $maxPrimaryPurple100;
    }

    &:-webkit-autofill {
      border: 1.5px solid $maxPrimaryPurple120;
      -webkit-box-shadow: 0 0 0 30px $maxSystemGray40 inset;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $maxPrimaryPurple120;
    }

    &::placeholder {
      color: $maxSystemGray20;
    }
  }

  &__icon {
    position: absolute;
    top: 55%;
    right: 0.5rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: $maxPrimaryPurple120;
  }
}
