@import "../../../styles/_variables.scss";

.default {
  font-family: $primaryFont;
  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        th {
          .sort_row {
            display: flex;
          }
          
          .sort {
            color: $maxText100;
          }

          padding: 16px 0;
          border-bottom: 1px solid $maxSystemGray20;
        }
      }
    }

    tbody {
      tr {
        td {
          div {
            color: $maxText60;
            padding: 26px 0;
            border-bottom: 1px solid $maxSystemGray20;
          }
        }
      }
    }
  }
}